@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200; 300; 400;500; 600;700; 800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 { 
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;

}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* navigacio formazas*/
nav{
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav img{
    width: 150px;
    cursor: pointer;
}

nav .navigacio{
    display: flex;
}

#menu{
    width: 30px;
    height: 30px;
    display: none;
}

#close{
    display: none;
}

nav .navigacio ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigacio ul li{
list-style: none;
margin-left: 30px;
}

nav .navigacio ul li a{
text-decoration: none;
color: rgb(21, 21, 100);
font-size: 16px;
font-weight: 500;
transition: 0.3s ease;

}
nav .navigacio ul li a.active,
nav .navigacio ul li a:hover{
color:  #fdc93b;

}

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)),url("kepek/prog.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
color: white;
font-size: 2.2rem;
letter-spacing: 1px;

}

#home p{
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn{
    margin-top: 30px;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

#home a.kek{
    color: white;
    background-color: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home a.kek:hover{
    color: rgb(21, 21, 100);
    background-color: white;

}

#home a.pink{
    color: white;
    background-color: #8D3FD0;
    transition: 0.3s ease;
}

#home a.pink:hover{
    color: #8D3FD0;
    background-color: white;
}

#features{
    padding: 5vw 8vw 0 8vw ;
    text-align: center;
}

#features .features-alap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    
}

#features .features-box{
    background: #F9F9FF;
    text-align: center;
    
}

#features .features-box i{
    font-size: 2.3rem;
    color: rgb(44,44,80);
    align-self: center;
    margin-top: 15px;

}

#features .features-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
    text-align: center;
}

#features .features-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
   text-align: center;
    
}

/*kurzusok*/

#kurzusok{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#kurzusok .kurzus-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#kurzusok .kurzus{
    text-align: start;
    background-color: #F9F9FF;
    height: 100%;
    position: relative;
}

#kurzusok .kurzus img{
    width: 100%;
    height: 61%;
    background-size: cover;
    background-position: center;
}


#kurzusok .kurzus .details{
    padding: 15px 15px 0 15px;

}

#kurzusok .kurzus .details i{
    color: #fdc93b;
    font-size: .9rem;
}

#kurzusok .kurzus .ar{
    background-color: rgb(44,44,80);
    color: white;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}


/*regisztracio*/

#regisztracio {
    padding: 6vw 8vw 8vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5),rgba(81,91,233,0.5)),
    url("kepek/prog.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#regisztracio .emlekezteto{
    color: #F9F9FF;
}

#regisztracio .emlekezteto h1{
    color: #F9F9FF;
}

#regisztracio .emlekezteto .ido{
    display: flex;
    margin-top: 40px;


}

#regisztracio .emlekezteto .ido .date{
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    font-size: 1.1rem;
    font-weight: 600;
}

#regisztracio .form{
    background-color: #F9F9FF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    
}

#regisztracio .form input{
    margin:  15px 0;
    padding: 15px 20px;
    border: 1px solid rgb(84,40,240);
    outline: none;
    width: 300px;
}

#regisztracio .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#regisztracio .form .btn{
margin-top: 20px;
align-self: center;
}

#regisztracio .form a.purple{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background-color: rgb(21, 21, 100);
    transition: 0.3s ease;

    
}

#regisztracio .form a.purple:hover{
    color: #8D3FD0;
    background-color: white;
}


#regisztracio .form h3{
    text-align: center;
}

/*footer*/

footer{
    padding: 8vw;
    background-color: #101c32 ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: lightslategrey;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover{
    color: white;
}

footer p{
    color: #7b838a;

}

footer .feliratkozas{
    margin-top: 20xp;

}

footer input{
    width: 230px;
    padding: 12px 15px;
    background: #334f6c;
    border: none;
    outline: none;
    color: #fff;
}

footer .feliratkozas a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;

}


footer .feliratkozas a.blue{
    color: white;
    background-color: rgb(21, 21, 100);
    transition: 0.3s ease;
}

footer .feliratkozas a.blue:hover{
    color: rgb(21, 21, 100);
    background-color: white;

}

footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    

}

footer .copyright .pro-links{
    display: flex;
    margin-top: 0px;
    

}

footer .copyright p{
    color: #fff;
}

footer .copyright .pro-links i{
   background-color: #5f7185;
   color: #fff;
   font-size: 34px;
   justify-content: space-between;
    margin-right: 5px;
    width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer .copyright .pro-links i:hover{
   background-color: #fdc93b;
   color: #2c2c2c;
}

/*rolunk*/

#rolunk-home{
        background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)),url("kepek/prog.jpg");
        width: 100%;
        height: 60vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 40px;
    
}

#rolunk-home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;

}

#rolunk-cont{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}

#rolunk-cont .rolunk-img{
    width: 60%;
    padding-right: 60px;
    
}

#rolunk-cont .rolunk-img img{
    width: 100%;
    
}
#rolunk-cont .rolunk-text{
    width: 40%;
  
   
}

#rolunk-cont .rolunk-text h2{
    color: #29303b;
    padding-bottom: 15px;
}

#rolunk-cont .rolunk-text p{
    color: #686f7a;
    font-weight: 300;
}

#rolunk-cont .rolunk-text .rolunk-fea{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:  30px;
}

#rolunk-cont .rolunk-text .rolunk-fea img{
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

#rolunk-cont .rolunk-text .rolunk-fea .fe-text{
    width: 90%;

}

#rolunk-cont .rolunk-text .rolunk-fea .fe-text h5{
    font-size: 15px;
    color: #29303b;
}

#biz{
    text-align: center;
    padding: 8vw;
}

#biz .biz-img {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#biz .biz-img img{
    width: 110px;
    height: 110px;

}

#blog-cont{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}

#blog-cont .blogs{
    width: 60%; 
}

#blog-cont .blogs img{
    width: 100%;
    border-radius: 19px;
}

#blog-cont .blogs .post{
    padding-bottom: 60px;
    
}


#blog-cont .blogs .post h3{
    color: #29303b;
    padding: 15px 0 10px 0;
}

#blog-cont .blogs .post p{
    color:#757373;
    padding-bottom: 20px ;
}

#blog-cont .blogs .post a{
   text-decoration: none;
   font-size: 0.9rem;
   padding: 13px 35px;
   background-color: rgb(21, 21, 100);
   color: #fff;
   border-radius: 5px;
   font-weight: 600;
}

#blog-cont .blogs .kat{
    width: 30%;
}

#blog-cont .kat h2{
    padding-bottom: 7px;

}

#blog-cont .kat a{
   text-decoration: none;
   color: #757373;
   font-weight: 500;
   line-height: 45px;

}

#blog-cont .blogpost{
    width: 60%;
    margin: 0 auto;
}

#blog-cont .blogpost p{
    text-align: justify;
    padding-bottom: 60px !important;
}

#kurzus-lot{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}

#kurzus-lot h3{
    padding: 35px 0 25px 0;
    color: #29303b;
   
}

#kurzus-lot p{

    color: #64626e;
    text-align: justify;
}

#kurzus-lot hr{
    height: 1px;
    background: rgba(236,226,229,0.5);
    margin-top: 40px;
}

 
#kurzus-lot .overview{
    width: 70%;

}

#kurzus-lot .overview .crs-img{

    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;

}

#kurzus-lot .overview .crs-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#kurzus-lot .overview .crs-head .crs-nev{
    width: 70%;
}

#kurzus-lot .overview .crs-head .crs-nev p{
    color: #29303b;
}

#kurzus-lot .overview .crs-head .crs-nev .rate{
    margin: 6px 0;

}

#kurzus-lot .overview .crs-head .crs-nev .rate i{
    color: #fdc93b;
    font-size: 0.9rem;
}
#kurzus-lot .overview .crs-head .crs-nev p{
    font-size: 15px;
}

#kurzus-lot .overview .crs-head span{
    padding: 16px 22px;
    border-radius: 5px;
    color:#5838fc;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(88,56,252,0.1);
}

#kurzus-lot .felsor p{
    font-size: 15px;
    padding-bottom: 15px;

}

#kurzus-lot .felsor p i{
    color: #654ce4;
    font-weight: 700;
    margin-right: 20px;
}

#kurzus-lot .oktato{
    display: flex;

}
#kurzus-lot .oktato img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;

}

#kurzus-lot .oktato h5{
    font-size: 15px;
}


#kurzus-lot .enroll{
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
}

#kurzus-lot .enroll h3{
    padding-bottom: 10px;

}

#kurzus-lot .enroll p{
    font-size: 15px;
    color: #64626e;
    margin: 15px 0;
}

#kurzus-lot .enroll p i{
    color: #654ce4;
    font-weight: 500;
    margin-right: 18px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}

#kurzus-lot .enroll .enroll-btn{
    padding: 25px 0 20px 0;
    margin: auto;
    text-align: center;
    
}

#kurzus-lot .enroll .enroll-btn a{
    text-decoration: none;
    font-size: .8rem;
    padding: 13px 45px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background-color:rgb(50, 50, 136);

}

#contact{
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .getin{
    width: 350px;
}
#contact .getin h2{
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .getin p{
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3{
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 6px;
    margin-bottom: 15px;
}

#contact .getin .getin-det div{
    display: flex;
}

#contact .getin .getin-det div .get{
    font-size: 16px;
    line-height: 22px;
    color: #5838fc ;
    margin-right: 20px;
}

#contact .getin .getin-det div p{
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .getin .getin-det  .pro-links i{
    margin-right: 8px;
    border: 1px solid;
    font-size: 14px;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .form{
    width: 60%;
    background-color: #f7f6fa ;
    padding: 40px;
    border-radius: 10px;
}

#contact .form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 4px;
}

#contact .form p{
    color: #686875;
    line-height: 24px;
    
    padding-bottom: 25px;
    
}

#contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: white;
    color:#7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}


#contact .form .form-col input,
#contact .form .form-col textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: white;
    color:#7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background:rgb(21, 21, 100) ;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

#map{
    width: 100%;
    height: 70vh;
    margin-bottom: 8vw;
}

#map iframe{
    width: 100%;
    height: 100%;
}


@media (max-width: 1024px) {

    nav {
       padding: 15px 20px;
    }

    nav img{
        width: 130px;
    }

    #menu{
        
        display: initial
    }
    
    #close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 20px 0 20px 20px;
    }

    nav .navigacio ul{
        position: absolute;
        top:0;
        right: -220px;
        width: 220px;
        background-color: rgba(17,20,104,0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigacio ul.active{
        right: 0;
    }

    nav .navigacio ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    nav .navigacio ul li a{
        color: #fff;
    }

    #home{
        padding-top: 0px;
    }
    
    #home p{
        width: 90%;
    }

    #features{
        padding: 8vw 4vw 0 4vw;
    }

    #kurzusok{
        padding: 8vw 4vw 0 8vw;
    }
    #regisztracio{
        margin-top: 8vw;
        padding: 6vw 4vw 6vw 4vw;
    }
    #regisztracio .emlekezteto .ido{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;

    }

    #rolunk-cont{
        display: flex;
        align-items: center;
        padding: 8vw 4vw 2vw 4vw;
    }

    #rolunk-cont .rolunk-img{
        padding-right: 30px;
    }

    #blog-cont .blogpost{
        width: 100%;
        margin-top: 30px;
    }

    #blog-cont .blogpost img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
       
    #kurzus1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8vw 4vw;  
    }
}

@media (max-width:412px) {
    #regisztracio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #regisztracio .emlekezteto .ido{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #rolunk-cont{
        flex-direction: column;

    }

    #rolunk-cont .rolunk-img{
        width: 100%;
        padding-right: 30px;
    }


    footer input{
        margin-bottom: 20px;
    }

    #kurzus-lot .overview .crs-head .crs-nev{
        width: 50%;
    }

    #kurzus-lot .overview .crs-head .crs-nev h2{
        font-size: 22px;
    }

    #kurzus-lot .overview .crs-head span{
        font-size: 22px;
    }

    #kurzus-lot .overview .crs-img {
        width: 100%;
    }

    #kurzus-lot .enroll{
        width: 100%;
    }
    
}
